In [2]:
import numpy as np
π = np.pi
import pandas as pd
from scipy.integrate import quad
from scipy.optimize import fsolve
from IPython.display import display, Markdown, Latex
from myengineerpkg import molecular_weights as mw

molecular_weights is starting import
import completed

In [3]:
ṅ = {
    "C3H8": [100,  0,     0    ],
    "O2":   [0,    600,   100  ],
    "N2":   [0,    2256,  2256 ],
    "CO2":  [0,    0,     300  ],
    "H2O":  [0,    0,     400  ]
}
ṅ = pd.DataFrame(ṅ, index = range(1,4))
display(ṅ)

   C3H8   O2    N2  CO2  H2O
1   100    0     0    0    0
2     0  600  2256    0    0
3     0  100  2256  300  400